body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(#7a9d96, #00303f 50%);
}

.main {
    width: 600px;
    height: 600px;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 48, 63, 0.84), rgba(202, 228, 219, 0.84) 50%);
    border-radius: 15px;
    box-shadow: 5px 20px 50px #000;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.registruokis {
    padding-top: 25%;
    border-style: solid 2px black;
    border-radius: 20px;
}

label {
    color: #fff;
    font-size: 2em;
    justify-content: center;
    display: flex;
    margin: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 65%;
    height: 20px;
    background: #f1dabf;
    display: flex;
    justify-content: center;
    margin: 2em auto;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #f1dabf;
    background: #031424;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover {
    background: #296060;
    color: #f1dabf;
}

.login {
    padding-top: 40%;
}



